# ===================================================================
# General / Operating System Files
# ===================================================================

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk drives
.Spotlight-V100
.Trashes

# ===================================================================
# Python / FastAPI Backend
# ===================================================================

# Virtual Environment
# 通常命名为 venv, env, .venv, .env.dev 等
venv/
env/
.venv/
.env.dev/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are in 'dist' folder, but depending on the configuration, they could also be in the root directory
*.spec

# Mypy cache
.mypy_cache/

# pytest cache
.pytest_cache/
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=
# IMPORTANT: Environment variables file
# 包含了你的数据库密码、SECRET_KEY等敏感信息，绝对不能上传！
.env
.env.*
*.env

# Exception: Allow the template file to be committed
!.env.example
# =_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=

# ===================================================================
# Swift / Xcode Frontend
# ===================================================================

# Xcode project settings and user-specific data
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/
xcuserdata/

# Build artifacts and derived data
build/
DerivedData/
*.hmap
*.ipa

# Swift Package Manager
# Add this line if you have locally referenced packages
# .swiftpm/
Package.resolved
Package.pins

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# ===================================================================
# IDE specific files
# ===================================================================

# VSCode
.vscode/

# PyCharm
.idea/


# ===================================================================
# experiment code
# ===================================================================
*.ipynb
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

*.rdb