services:
  # service 1: Python Backend API
  web:
    build:
      context: .
    env_file:
      - .env.local
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
