name: Lint Check

on:
  push:
    branches: ["main"]
    paths:
      - "**.py"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    branches: ["main"]
    paths:
      - "**.py"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  lint:
    name: Code Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      
      - name: Install dependencies
        run: uv sync --frozen --dev
      
      - name: Run Black Check
        run: uv run black --check .
        continue-on-error: true
      
      - name: Run Ruff Check
        run: uv run ruff check .